:root {
    --text-color: #030511;
    --bg-color: #FCFCFC;
    --main-color: #C471ED;
    --accent-color-1: #2E37FE;
    --accent-color-2: #F64F59;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
	line-height: 1;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

 li {
	list-style: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-color-1);
    z-index: 2;
    border-bottom: .067rem solid var(--bg-color);
}

nav {
    font-weight: 400;
    min-width: 60%;
}

nav > ul {
    width: 38vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: var(--bg-color);
    text-decoration: none;
}

a:hover {
    transition: 1s;
    opacity: .8;
}

.body-wrapper {
    position: relative;
}

.logo {
    width: 60vw;
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.container {
    max-width: 1000px;
    padding-right: 2rem;
    width: 85%;
    margin: 0 auto;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    margin-top: 50px;
    background-image: url('../img/audio-waves.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(1.2);
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: 1.2rem;
}

#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: var(--main-color);
    color: ghostwhite;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

#features {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding-left: .3rem;
    padding-right: 1.3rem;
}

#features .icon {
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.descr p {
    margin-left: 1.1rem;
    text-align: justify;
}

#works {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#works > iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    /* border: 1px solid #000; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
}

.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > h2 {
    margin-top: 15px;
    font-weight: 400;
}

.product > ul {
    margin: 15px 0;
}

.product > ul > li {
    padding: 5px 0;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: var(--main-color);
    font-weight: 400;
}

footer {
    margin-top: 30px;
    background-color: var(--accent-color-1);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

footer > ul {
    display: flex;
    justify-content: center;
}

footer li {
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 0.9em;
    color: var(--bg-color);
}

/* Media queries */
@media(max-width: 768px) {
    header {
        min-width:110vw;
    }

    .body-wrapper {
        min-width: 110vw;
    }

    #hero {
        width: 100vw;
        padding-left: .13rem;
        padding-right: .2rem;
    }

    #hero > h2 {
        font-size: 5vw;
    }

    #hero input[type="email"] {
        min-width: 85vw;
    }

    #hero input[type="submit"] {
        min-width: 85vw;
    }
}

@media(max-width: 730px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav > ul {
        width: 100%;
        margin-bottom: .7rem;
    }

    .logo {
        margin-bottom: .7rem;
    }
}